* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0f172a;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6366f1, #06b6d4);
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 15px;
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* CARDS */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

/* CONTACT */
.contact input,
.contact textarea {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

/* FOOTER */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }
}